Python Basics

1. Variables
2. Literals
3. Data types
4. Slicing and Indexing
5. conditional Statements
6. Looping Statements
7. Functions

# 1. Variables

variables--> It is a memory location where we store the value or Information.

In [ ]:
a=10 # a is a variable and the number 10 is a value

In [ ]:
name="Dhanush"# name is a variable and the word "Dhanush" is value

Three Rules to define a variable 

1. Keywords cannot be assigned to a variable names. ex--> type,print,def,import,class (inbuild keywords)

In [1]:
def="Dhanush"

SyntaxError: invalid syntax (Temp/ipykernel_9688/549944967.py, line 1)

In [2]:
Def="Dhanush"
print(Def)

Dhanush

2. Variable names can start with letter or '_' but never with a number

In [5]:
abc=1

In [4]:
_abc=3

In [3]:
2abc=4

SyntaxError: invalid syntax (Temp/ipykernel_9688/4239822627.py, line 1)

In [6]:
abc1=5

In [7]:
my_name="Dhanush Aravindh"

3. variable name cannot have any special character rather than '_'.ex-->@,#,$,%,^

In [8]:
@num1=25

SyntaxError: invalid syntax (Temp/ipykernel_9688/4132685363.py, line 1)

In [9]:
x1=100
print(x1)

100

In [10]:
num_1=500

# 2.Literals

literals--> the value which is assigned to a variable
type()--> gives the datatype of the value stored by a variable.
print()--> It only prints the statement or value of the variable which is called.It doen't store any data or value.

In [5]:
var1=304
var2="Welcome to India"
var3='Hello all'
var4=3.6
var5=True

In [9]:
print(var1)
type(var1)

304

int

In [10]:
print(var2)
type(var2)

Welcome to India

str

In [8]:
type(var1)

int

In [11]:
type(var4)

float

In [12]:
print(var3)
type(var3)

Hello all

str

In [13]:
print(var4)
type(var4)

3.6

float

In [14]:
print(var5)
type(var5)

True

bool

In [15]:
ord(var3)

TypeError: ord() expected a character, but string of length 9 found

In [16]:
ord(var1)

TypeError: ord() expected string of length 1, but int found

In [17]:
ord(5)

TypeError: ord() expected string of length 1, but int found

In [18]:
ord(a)

NameError: name 'a' is not defined

In [19]:
var6= 14
ord(var6)

TypeError: ord() expected string of length 1, but int found

In [20]:
ord("A")#It gives the ascii value of the given element.

65

In [21]:
ord("5")

53

To get the ASCII code of a character, use the ord() function. To get the character encoded by an ASCII code number, use the chr() function. To know if all the characters present in a string are alphanumeric i.e. they are alphabets and numeric, use the isalnum() function.

In [1]:
isanum("Dhanush Aravindhan")

NameError: name 'isanum' is not defined

In [10]:
num=int(input("Enter the number:"))#It checks wheather the sum of n natural number is odd or even
num1=((num*(num+1))/2)
print (num1)
if (num%2)==0:
    print(0)
else:
    print(1)

Enter the number26
351.0
0

# 3.Static and Dynamic way to assign a variable

Static way--> value will be  assigned to a variable manually.Untill or unless we change the value of the variable the output remains same.

In [3]:
a=10
b=20
c=30 
print(a+b+c)

60

In [4]:
type(b)

int

In [5]:
b=print(a+b+c) # since the value stored in b is none type. We cannot execute more than once.We cannot to addition for none type and integer
# b executes none type untill its value gets updated in this case. So that we should not assign print to any variable.
type(b)

60

NoneType

In [17]:
print(b) #print statement does not store any value in its memory.It only gives the output. We will be getting none

None

Dynamic way--> The value will be assigned during run time.

In [25]:
#String
#variable name=input("Enter the string:")

In [26]:
var1=input()

Welcome to India

In [27]:
var1

'Welcome to India'

In [28]:
type(var1)

str

In [31]:
var2=input("Enter the string:")

Enter the string:34

In [32]:
var2

'34'

In [33]:
type(var2)

str

In [34]:
#Integer
#variable name=int(input("enter the integer:"))

In [35]:
x1=int(input())
x2=int(input("ENTER THE x2:"))
x3=x1+x2
print(x3)

5
ENTER THE x2:6
11

In [37]:
a=50
b=int(input())# we can use both static and dynamic way together.If we didn't use int keyword it will take the value as string.
print(a+b)

10
60

In [38]:
#float
#variable name=float(input()) for float you can enter integer values it will convert it to float.But for integer we cannot enter float value

In [39]:
s1=float(input("Enter the value:"))
s2=s1*s1
print(s2)

Enter the value:5.6
31.359999999999996

In [40]:
d1=float(input())
d2=float(input())
d3=d1-d2
print(d3)

12
13.7
-1.6999999999999993

In [45]:
round(d3,1)#round()--> This function is used to round off the value to the given decimal value.

-1.7

In [46]:
round(d2-d1)

2

In [47]:
round(d2-d1,1)

1.7

In [50]:
round(1.244564556)

1

In [51]:
d3

-1.6999999999999993

In [52]:
#boolean
#var_name=bool(input()) it checks wheather the variable is having/storing any value or not.If variable is storing any value it writtens true or if it doesn't store any value it writtens false

In [5]:
f1=bool(input())

123

In [6]:
f1

True

In [7]:
del f1

In [8]:
f1=bool(input())

In [9]:
f1

False

In [10]:
print(f1)

False

# 3.Slicing and Indexing

Indexing--> The process of extracting the unique value #Simple Indexing - The value always starts from zero.It is from 
left-->Right.
#Negative Indexing- The value always starts with -1 from the reverse the index values are assigned.It from Right-->left.It always starts from the end of the value.The start range should be higher and end range should be lower.
#The space between the words and the letters also get the index value [' ']. 
#The special characters also get the index values['@','#','$'...]
Slicing--> Extracting the range of values

In [2]:
s1="querty@ python" #each letter in the string contains different index values.

In [8]:
len(s1)

14

q      u      e     r     t     y          p     y     t     h     o    n

0      1      2     3     4     5    6     7     8     9    10    11    12 --> Simple Indexing

-13   -12    -11   -10   -9    -8   -7    -6    -5    -4    -3    -2    -1  --> Negative Indexing (always the index value will 

starting from the end of the value.)

In [ ]:
#indexing (used to extract only one particular value)
 #variable_name[index_value]

In [9]:
s1[6]

'@'

In [10]:
s1[7]

' '

In [11]:
s1[5]

'y'

In [3]:
s1[-2]

'o'

#slicimg syntax
#var_name[Start_range:End_range:step]
# The start range,End range and step are not mandatory. for inbuild function we use common braces and for operations we use square braces.
#End range gives value/prints upto (end_range-1)or (n-1).n->number of elements / letters in the given value.
#Start_range will be considered by default.It starts from left side
#end range will not be considered.
#Step value --> It jumps to the next values according to the step value provided and print them.
#It also considers the space between the words.

In [5]:
s1[:6]

'querty'

In [6]:
s1[0:6]

'querty'

In [7]:
s1[0:]

'querty@ python'

In [8]:
s1[::2]

'qet@pto'

In [10]:
s1[0:14:2]

'qet@pto'

In [19]:
s1[-15:]

'querty@ python'

In [24]:
s1[-15::2]

'qet@pto'

In [26]:
s1[0:13]

'querty@ pytho'

In [27]:
s1[0:14]

'querty@ python'

In [32]:
s1[-6:-9:-1]#REVERSE SLICING start range should be lower and end range should be higher

'p @'

# 4.Datatypes

collective datatypes:
    In python we mostly use collective datatypes. There are two types of collective datatypes namely
1.Mutable datatypes---> value stored  can be changed or altered after the declaration.There are totally 3 types namely 
  a.List
  b.Dictionary
  c.sets
2.Immutable datatypes--> value stored cannot be changed or altered after the declaration.There are 2 types of immutable datatype namely.We can assign the value but we cannot change the present value.
   a.Strings
   b.Tuples

In [ ]:
# strings : mentioned in single or double quotes.

In [34]:
str1="Welcome to India"

In [35]:
str1[0:]

'Welcome to India'

In [36]:
str1[4]

'o'

In [37]:
str1[5]='m'

TypeError: 'str' object does not support item assignment

tuples-->It is a set of heterogenous element(mixed type of data ).It can have a (string,numbers,special characters,Interger,flot,...).
tuple is defined by ().whatever written inside the braces is considered to be a tuple.
Whenever we are defining a heterogenous data in single line it is considered as tuple.
we can write a tuple with or without braces.

In [39]:
t1=1,2,3,'Dhanush','Legend',8.9,9.5

In [40]:
t1

(1, 2, 3, 'Dhanush', 'Legend', 8.9, 9.5)

In [41]:
type(t1)

tuple

In [42]:
t2=(1,4.6,55.98,'Aravindh',True,)

In [43]:
t2

(1, 4.6, 55.98, 'Aravindh')

In [44]:
type(t2)

tuple

In [ ]:
#Tuples are used to store confidential data eg:Bamk details,phone number,address, etc;

In [45]:
t1[5]

8.9

In [46]:
t1[:7]

(1, 2, 3, 'Dhanush', 'Legend', 8.9, 9.5)

In [47]:
t1[3]="DHANUSH"#we cannot change the value inside tuple.

TypeError: 'tuple' object does not support item assignment

In [52]:
t1[-7:]

(1, 2, 3, 'Dhanush', 'Legend', 8.9, 9.5)

In [51]:
t1[-6:-3:1]

(2, 3, 'Dhanush')

In [54]:
t1[-3:-6]

()

In [55]:
t3=(1,2,5,7,4,6,9,3,8)

In [57]:
t4=sorted(t3) #sorting performed only on homogeneous data

In [63]:
print(t4)
type(t4)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

list

In [59]:
t5=tuple(t4)

In [60]:
type(t5)

tuple

In [61]:
t5

(1, 2, 3, 4, 5, 6, 7, 8, 9)

List--> set of heterogenous data.It is defined by square braces[].

In [64]:
l1=[1,2,3,'Dhanush','Legend',8.9,9.5]

In [65]:
type(l1)

list

In [66]:
l1

[1, 2, 3, 'Dhanush', 'Legend', 8.9, 9.5]

In [67]:
l1[:7]

[1, 2, 3, 'Dhanush', 'Legend', 8.9, 9.5]

In [68]:
l1[2:7]

[3, 'Dhanush', 'Legend', 8.9, 9.5]

In [69]:
l1[3]="DHANUSH"

In [70]:
l1

[1, 2, 3, 'DHANUSH', 'Legend', 8.9, 9.5]

In [96]:
#append--> It is used to add element to the end of the list.
l1.append('python basics')

In [98]:
l1.append('python basics')

In [99]:
l1

[1,
 2,
 'DHANUSH',
 'ARAVINDHAN',
 'Legend',
 8.9,
 9.5,
 'python basics',
 'python basics']

In [73]:
l1.insert(4,'ARAVINDHAN')

In [74]:
l1

[1, 2, 3, 'DHANUSH', 'ARAVINDHAN', 'Legend', 8.9, 9.5, 'python basics']

In [75]:
l1.pop(2)#delete the value directly by using index value

3

In [76]:
l1

[1, 2, 'DHANUSH', 'ARAVINDHAN', 'Legend', 8.9, 9.5, 'python basics']

In [100]:
l1.remove('python basics')#delete the value directly by giving the value.

In [101]:
l1

[1, 2, 'DHANUSH', 'ARAVINDHAN', 'Legend', 8.9, 9.5, 'python basics']

In [ ]:
#Double indexing and double slicing is possible in list

In [79]:
l1[4][2:5]

'gen'

In [84]:
l1[5],l1[6]

(8.9, 9.5)

In [82]:
l1[4,[3]]

TypeError: list indices must be integers or slices, not tuple

In [94]:
a=[1,[2],3]
b=a[1]
b.append(4)
# Whenever we are making sequencial changes to the data we can use list.

In [95]:
a

[1, [2, 4], 3]

In [102]:
l1.pop(-1)

'python basics'

In [103]:
l1

[1, 2, 'DHANUSH', 'ARAVINDHAN', 'Legend', 8.9, 9.5]

Dictionary {key:value}
example: sort: arraging the elements
We cannot do indexing or slicing.Since it has its own indexing and slicing behavior
We cannot extract the keys. we can only extract the values using their keys

In [104]:
d1={1:"Apple",2:"banana",3:"Orange",4:"grapes"}
d2={"Apple":100,"banana":20,"orange":80,"grapes":40}

In [107]:
type(d1)

dict

In [108]:
d1["Apple"]

KeyError: 'Apple'

In [109]:
d1[1]

'Apple'

In [110]:
d1.keys()

dict_keys([1, 2, 3, 4])

In [112]:
d1.values()

dict_values(['Apple', 'banana', 'Orange', 'grapes'])

In [113]:
d1[5]="Water melon"

In [114]:
d1

{1: 'Apple', 2: 'banana', 3: 'Orange', 4: 'grapes', 5: 'Water melon'}

In [115]:
len(d1)

5

In [116]:
# Used in grocery stores mainly to store the price of the items
# keys are unique values in the data and cannot be changed

In [117]:
d2["Apple"]=120

In [118]:
d2

{'Apple': 120, 'banana': 20, 'orange': 80, 'grapes': 40}

In [119]:
del d2["grapes"] #It is used to delete the key:value pair from dictionary

In [121]:
d2

{'Apple': 120, 'banana': 20, 'orange': 80}

In [122]:
d1[1]="apple"

In [123]:
d1

{1: 'apple', 2: 'banana', 3: 'Orange', 4: 'grapes', 5: 'Water melon'}

In [124]:
d1.remove(5)

AttributeError: 'dict' object has no attribute 'remove'